[Unit]
Description=Chamado Health check script
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
EnvironmentFile=-%h/.config/chamado-health
ExecStart=/usr/bin/env python3 %h/src/chamado-health/healthcheck.py
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
