[Unit]
Description=Health check script
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
EnvironmentFile=-%h/.config/health-check
ExecStart=/usr/bin/env python3 %h/src/health-check/healthcheck.py
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
