[Unit]
Description=Health Monitor check script
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
EnvironmentFile=-%h/.config/health-monitor
ExecStart=/usr/bin/env python3 %h/src/health-monitor/healthcheck.py
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
